* {
  box-sizing: border-box;
}
.container {
  width: 400px;
  height: 200px;
  background-color: #eee;
  margin: 100px auto;
  padding: 10px;
  border: 1px solid #ccc;
}
.Skew {
  background-color: #080;
  color: #fff;
  text-align: center;
  height: 180px;
}
.Skew:hover {
  transform: skew(20deg, -10deg);
}
