body {
  perspective: 600px;
}
img {
  margin: 50px auto;
  display: block;
}
/* transform: matrix3d(0.87,-0.5,0.00,0,0.50,0.87,0.00,0,0,0,1,0,0,0,0,1); */
/* transform: matrix3d(scalex,-0.5,0.00,0,scaley,rotatex,0.87,0.00,rotatex,0,0,1,0,translatex,translatey,translatez,scalez); */
img:hover {
  transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
