/*Animation: Craete Wave Audio Loading*/
.loading {
  width: 200px;
  height: 50px;
  margin: 20px auto;
  position: relative;
}
.loading span {
  display: block;
  width: 9px;
  height: 5px;
  position: absolute;
  bottom: 0;
  background-color: crimson;
  animation: waving 1s infinite ease-in-out;
}
.loading span:nth-of-type(2) {
  left: 11px;
  animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
  left: 22px;
  animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
  left: 33px;
  animation-delay: 0.6s;
}
.loading span:last-of-type {
  left: 44px;
  animation-delay: 0.8s;
}

/* @keyframes waving {
  0%,
  50%,
  100% {
    transform: translatey(0);
    height: 5px;
  }
  25% {
    height: 30px;
    transform: translatey(15px);
  }
} */
body {
  perspective: 150px;
}
@keyframes waving {
  0%,
  50%,
  100% {
    transform: translateZ(-3px);
  }
  25% {
    transform: translateZ(0);
  }
  /* 50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(60px);
  } */
}
