/* 
Multi Columns:
-Columns Span
-Columns Shorthand
*/
div {
  border: 2px solid #ccc;
  padding: 10px;
  /* column-count: 4;
  column-width: 200px; */
  column-gap: 5px;
  column-rule: 2px solid #3789db;
  columns: 200px 4;
}
div h2 {
  column-span: all;
  /* column-fill: balance; */
}
